.section-search input {
  padding: 5px !important;
  font-size: 18px !important;
  background-color: #fff !important;
  border: #f4f4f4 3px solid !important;
}

.select-wrapper input.select-dropdown {
	background-color: #fff !important;
}

.section-follow .fa-4x {
  margin: 5px 10px;
}

.card-panel.grey.lighten-3 {
    width: 30% !important
    margin: 150px auto !important;
}

img {
	width: 100% !important;
}

